header div {
  margin: 0 auto;
}
main h1 {
  text-align: center;
}
.logo {
  background-color: gray;
  width: 100px;
  height: 100px;
  text-align: center;
  border-radius: 50%;
  margin: 0 auto;
}

.container {
  background-color: #f1f1f1;
  max-width: 800px;
  height: auto;
  margin: 0 auto;
  padding: 10px;
  display: flex;
}

.column {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.register {
  flex: 1;
  padding: 20px;
  background-color:whitesmoke;
  border: 1px solid black;
}

.top-right {
  background-color: rgb(249, 108, 108);
  flex: 0.25;
  border: 1px solid black;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.bottom-right {
  background-color: rgb(112, 112, 189);
  flex: 0.75;
  border: 1px solid black;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: start;
}

.register-form h2 {
  text-align: center;
}

form label {
  display: block;
  margin-top: 10px;
}

form input[type="text"],
form input[type="email"],
form input[type="password"],
form input[type="date"],
form select,
form textarea {
  width: 100%;
  padding: 8px;
  margin-top: 5px;
  box-sizing: border-box;
}

form button {
  margin-top: 15px;
  padding: 10px 20px;
  background-color: #4CAF50;
  color: white;
  border: none;
  cursor: pointer;
}

form button:hover {
  background-color: #45a049;
}

.error {
  color: red;
  font-size: 12px;
  margin-top: 2px;
}

.login-form {
  padding: 10px;
}

.login-form label {
  display: block;
  margin-top: 10px;
}

.login-form input[type="text"],
.login-form input[type="password"] {
  width: 100%;
  padding: 8px;
  margin-top: 5px;
  box-sizing: border-box;
}

.info-table {
  width: 100%;
  border-collapse: collapse;
  margin: 10px 0;
  font-size: 14px;
}

.info-table th,
.info-table td {
  border: 1px solid #333;
  padding: 10px;
  text-align: center;
}

.info-table tr {
  height: 40px;
}

.info-table thead {
  background-color: #ddd;
  text-align: center ;
}
